{% if auth.user %}
<div class="user-menu">
    <button class="user-menu-trigger">
        {{ auth.user.email }}
        <span class="caret">▾</span>
    </button>

    <div class="user-menu-dropdown">
        <button class="logout-button"><a href="/logout">

                Logout
        </a>
        </button>
    </div>
</div>
{% endif %}
