.bash_*
.basrc
Maildir/
virtual-backup/
homes/
etc/
cgi-bin/
.cache
.wget-hsts
.composer
.ssh
.phpunit.result.cache
.npm/
.vscode-server/
.phpunit.cache/
vendor/
tmp/
logs/
storage/logs/
Maildir/
shared/
storage/
releases/
.env
storage/*
uploads/*
push-info.txt
