{% extends '@pages/admin/layout.twig' %}

{% block title %}2FA instellen{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="h4 mb-3">Tweestapsverificatie instellen</h1>

    <p>Scan deze QR-code met Google Authenticator of Authy.</p>

<div class="mb-3">
    {{ qr|raw }}
</div>

<p class="text-muted">
    Werkt de QR-code niet?
    Gebruik deze sleutel handmatig: <code>{{ secret }}</code>
</p>


    <form method="post" class="mt-4">
        {{ csrf() }}

        <div class="mb-3">
            <label class="form-label">Code uit app</label>
            <input
                type="text"
                name="code"
                class="form-control"
                required
            >
        </div>

        <button class="btn btn-primary">
            Bevestigen
        </button>
    </form>
</div>
{% endblock %}
