{% extends "layouts/base.twig" %}

{% block title %}Pagina niet gevonden{% endblock %}

{% block content %}
<h1>404</h1>
<p>Deze pagina bestaat niet.</p>
<a href="/">Terug naar homepage</a>
{% endblock %}
