{% extends "layouts/base.twig" %}

{% block title %}Fout{% endblock %}

{% block content %}
<h1>Er ging iets mis</h1>
<p>Probeer het later opnieuw.</p>

{% if message %}
<pre>{{ message }}</pre>
{% endif %}
{% endblock %}
