{% extends '@core/layout/base.twig' %}

{% block title %}Account activated{% endblock %}

{% block content %}
<h1>Account activated</h1>

<p>
   Je account is succesvol geactiveerd.
</p>

<p>
We have sent you an email to set a password.
</p>
{% endblock %}
