{% extends "@core/auth/layout.twig" %}

{% block auth_content %}
<p class="text-muted small text-center mb-4">
    Je account wordt geactiveerd.
</p>

<div class="text-center">
    <span class="spinner-border text-primary"></span>
</div>
{% endblock %}
