{% extends '@core/layout/base.twig' %}

{% block title %}Ongeldige activatie{% endblock %}

{% block content %}
<h1>Ongeldige of verlopen link</h1>

<p>
    Deze activatielink is ongeldig of verlopen.
</p>

<p>
    <a href="/register">Account aanmaken</a>
</p>
{% endblock %}
