{% extends "@core/auth/layout.twig" %}

{% block auth_content %}
<form id="forgot-form" method="post" action="/forgot-password">

    <p class="text-muted small mb-3 text-center">
        Je ontvangt een e-mail met instructies.
    </p>

    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">
        Verstuur reset-link
    </button>

    <div class="text-center small mt-3">
        <a href="/login" class="link-secondary">
            Terug naar login
        </a>
    </div>
</form>
{% endblock %}

