{% extends '@core/layout/base.twig' %}

{% block title %}Check je e-mail{% endblock %}

{% block content %}
<h1>Bijna klaar</h1>

<p>
    Als het e-mailadres bij ons bekend is, hebben we een bericht gestuurd
    met verdere instructies.
</p>
{% endblock %}
