{% extends '@core/layout/base.twig' %}

{% block title %}Wachtwoord gewijzigd{% endblock %}

{% block content %}
<h1>Wachtwoord gewijzigd</h1>

<p>
    Je wachtwoord is succesvol gewijzigd.
</p>

<p>
    <a href="/login">Ga naar inloggen</a>
</p>
{% endblock %}
