{% extends '@core/layout/base.twig' %}

{% block title %}Ongeldige link{% endblock %}

{% block content %}
<h1>Ongeldige of verlopen link</h1>

<p>
    Deze wachtwoord-resetlink is ongeldig of verlopen.
</p>

<p>
    <a href="/forgot-password">Vraag een nieuwe reset-link aan</a>
</p>
{% endblock %}
