{% extends "@core/auth/layout.twig" %}

{% block auth_content %}
<form id="reset-form" method="post" action="/reset-password">

    <div class="mb-3">
        <label class="form-label">Nieuw wachtwoord</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Herhaal wachtwoord</label>
        <input type="password" name="password_confirm" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">
        Wachtwoord instellen
    </button>
</form>
{% endblock %}
