{% extends "base.twig" %}

{% block content %}
<h1>Installatie mislukt</h1>

<div class="alert alert-danger">
    {{ message|raw }}
</div>

<p>Los bovenstaande problemen op en herlaad deze pagina.</p>
{% endblock %}
