{% extends "base.twig" %}

{% block content %}
<div id="installer-step"></div>
{% endblock %}

{% block head %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    Installer.loadStep(1);

    // init sidebar text (step 1)
    Installer.updateSidebar({
        title: 'Welcome to Keystone CMS',
        description:
            'In a few simple steps, you’ll have Keystone CMS up and running. Each step is quick and easy to complete, and this installer will guide you through the entire process.'
    });

    // INITIËLE progress (puur UX)
    Installer.updateProgress({
        current: 1,
        total: 5,
        percent: 20
    });
});
</script>
{% endblock %}


