<h2>Database setup</h2>
<p>We are setting up your database.</p>

<div id="migration-status"></div>


<div class="actions">
    <button id="env-check-btn" onclick="Installer.runMigrations()">Continue</button>
</div>



