<h2>Start Install Keystone CMS</h2>

<div class="actions">
    <button id="env-check-btn" onclick="Installer.runEnvironmentCheck()">
        Run system check
    </button>
</div>

<div id="results"></div>

