<h2>Admin account</h2>
<p>Create the administrator account.</p>

<div id="admin-errors"></div>

<input id="adminName" name="adminName" placeholder="Name">

<input id="adminEmail" name="adminEmail"  placeholder="Email">

<button onclick="Installer.submitAdmin()">Create admin</button>
