{% extends "@core/auth/layout.twig" %}

{% block auth_content %}
<form id="form-login" method="post" action="/login">

    {{ csrf() }}

    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Wachtwoord</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">
        Inloggen
    </button>

    <div class="d-flex justify-content-between small mt-3">
        <a href="/register" class="link-secondary">
            Account aanmaken
        </a>
        <a href="/forgot-password" class="link-secondary">
            Wachtwoord vergeten?
        </a>
    </div>
</form>
{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{url}}/assets/js/multiform-ajax.js"></script>
{% endblock %}