<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="icon" href="/favicon.ico">

    <link rel="stylesheet" href="/themes/css/homepage.css">
</head>

<body>

<!-- ================= HEADER ================= -->

<header class="site-header">
    <div class="container header-inner">
        <a href="/" class="brand">
            <span class="brand-mark">K</span>
            <span class="brand-name">Keystone CMS</span>
        </a>


{% import "macros/menu.twig" as menuMacro %}

{% if header %}
<nav class="main-nav">
    {{ menuMacro.render(header.items, linkResolver) }}
</nav>

{% endif %}
    </div>
</header>

<!-- ================= HERO ================= -->

{% block hero %}{% endblock %} 
<!-- ================= FEATURES ================= -->

{% block content %} {% endblock %}
<!-- ================= FOOTER ================= -->

<footer class="site-footer">
    <div class="container footer-inner">

        <div class="footer-brand">
            <strong>Keystone CMS</strong>
            <p>Infrastructure-first CMS for developers.</p>
        </div>

        <!-- Footer menu -->
    <nav class="footer-nav">
        {{ menuMacro.render(footer.items, linkResolver) }}
    </nav>

    </div>

    <div class="footer-bottom">
        © 2026 Keystone CMS
    </div>
</footer>

</body>
</html>
